<div class="col-12 table-responsive">
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th>
                    #
                </th>
                <th>Zone</th>
                <th>Directions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>A</td>
                <td>
                    <a href="" data-toggle="modal" data-target="#directions" role="button">
                        Click here
                    </a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>A</td>
                <td>
                    <a href="" data-toggle="modal" data-target="#directions" role="button">
                        Click here
                    </a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>B</td>
                <td>
                    <a href="" data-toggle="modal" data-target="#directions" role="button">
                        Click here
                    </a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>C</td>
                <td>
                    <a href="" data-toggle="modal" data-target="#directions" role="button">
                        Click here
                    </a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>D</td>
                <td>
                    <a href="" data-toggle="modal" data-target="#directions" role="button">
                        Click here
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="directions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Directions to Zone</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ol>
                <li>
                    After entering the Library from the main entrance, turn right.
                </li>
                <li>
                    Keep moving forward until you see the group study area on your right.
                </li>
                <li>
                    Turn left.
                </li>
            </ol>
        </div>
      </div>
    </div>
  </div>