<h4 id="title">
    Distribution of Exchange Students based on the number of semester-long/summer exchange units (All Level of
    Studies) by Country/Region of Institution
</h4>
<table id="figures" class="table-hover">
    <thead>
        <tr>
            <th rowspan="2">Country/Region of Institution</th>
            <th colspan="5">No. of Outbound Exchange Students</th>
            <th colspan="5">No. of Inbound Exchange Students</th>
        </tr>
        <tr>
            <th>2015/16</th>
            <th>2016/17</th>
            <th>2017/18</th>
            <th>2018/19</th>
            <th>Overall</th>
            <th>2015/16</th>
            <th>2016/17</th>
            <th>2017/18</th>
            <th>2018/19</th>
            <th>Overall</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bluebg">Australia </td>
            <td>40</td>
            <td>54</td>
            <td>65</td>
            <td>42</td>
            <td class="bluebg">201</td>
            <td>49</td>
            <td>29</td>
            <td>48</td>
            <td>37</td>
            <td class="bluebg">163</td>
        </tr>
        <tr>
            <td class="bluebg">Austria </td>
            <td>22</td>
            <td>26</td>
            <td>14</td>
            <td>8</td>
            <td class="bluebg">70</td>
            <td>13</td>
            <td>11</td>
            <td>20</td>
            <td>20</td>
            <td class="bluebg">64</td>
        </tr>
        <tr>
            <td class="bluebg">Belgium </td>
            <td>9</td>
            <td>9</td>
            <td>14</td>
            <td>10</td>
            <td class="bluebg">42</td>
            <td>13</td>
            <td>15</td>
            <td>21</td>
            <td>20</td>
            <td class="bluebg">69</td>
        </tr>
        <tr>
            <td class="bluebg">Brunei </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Canada</td>
            <td>110</td>
            <td>95</td>
            <td>85</td>
            <td>91</td>
            <td class="bluebg">381</td>
            <td>89</td>
            <td>113</td>
            <td>99</td>
            <td>108</td>
            <td class="bluebg">409</td>
        </tr>
        <tr>
            <td class="bluebg">Chile </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">0</td>
            <td>0</td>
            <td>2</td>
            <td>3</td>
            <td>1</td>
            <td class="bluebg">6</td>
        </tr>
        <tr>
            <td class="bluebg">Croatia </td>
            <td>4</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">5</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>1</td>
            <td class="bluebg">4</td>
        </tr>
        <tr>
            <td class="bluebg">Czech Republic </td>
            <td>21</td>
            <td>25</td>
            <td>31</td>
            <td>33</td>
            <td class="bluebg">110</td>
            <td>17</td>
            <td>19</td>
            <td>21</td>
            <td>18</td>
            <td class="bluebg">75</td>
        </tr>
        <tr>
            <td class="bluebg">Denmark</td>
            <td>21</td>
            <td>23</td>
            <td>37</td>
            <td>37</td>
            <td class="bluebg">118</td>
            <td>22</td>
            <td>30</td>
            <td>30</td>
            <td>29</td>
            <td class="bluebg">111</td>
        </tr>
        <tr>
            <td class="bluebg">Finland </td>
            <td>19</td>
            <td>33</td>
            <td>29</td>
            <td>26</td>
            <td class="bluebg">107</td>
            <td>26</td>
            <td>25</td>
            <td>32</td>
            <td>35</td>
            <td class="bluebg">118</td>
        </tr>
        <tr>
            <td class="bluebg">France </td>
            <td>32</td>
            <td>33</td>
            <td>28</td>
            <td>39</td>
            <td class="bluebg">132</td>
            <td>76</td>
            <td>81</td>
            <td>75</td>
            <td>100</td>
            <td class="bluebg">332</td>
        </tr>
        <tr>
            <td class="bluebg">Germany </td>
            <td>52</td>
            <td>47</td>
            <td>30</td>
            <td>43</td>
            <td class="bluebg">172</td>
            <td>44</td>
            <td>51</td>
            <td>46</td>
            <td>49</td>
            <td class="bluebg">190</td>
        </tr>
        <tr>
            <td class="bluebg">Hungary </td>
            <td>7</td>
            <td>7</td>
            <td>5</td>
            <td>4</td>
            <td class="bluebg">23</td>
            <td>0</td>
            <td>2</td>
            <td>1</td>
            <td>7</td>
            <td class="bluebg">10</td>
        </tr>
        <tr>
            <td class="bluebg">India </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">0</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>1</td>
            <td class="bluebg">9</td>
        </tr>
        <tr>
            <td class="bluebg">Indonesia </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">0</td>
            <td>1</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td class="bluebg">7</td>
        </tr>
        <tr>
            <td class="bluebg">Ireland </td>
            <td>1</td>
            <td>5</td>
            <td>4</td>
            <td>3</td>
            <td class="bluebg">13</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">0</td>
        </tr>
        <tr>
            <td class="bluebg">Israel </td>
            <td>4</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td class="bluebg">8</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td class="bluebg">3</td>
        </tr>
        <tr>
            <td class="bluebg">Italy</td>
            <td>9</td>
            <td>11</td>
            <td>9</td>
            <td>8</td>
            <td class="bluebg">37</td>
            <td>6</td>
            <td>9</td>
            <td>13</td>
            <td>13</td>
            <td class="bluebg">41</td>
        </tr>
        <tr>
            <td class="bluebg">Japan </td>
            <td>48</td>
            <td>42</td>
            <td>47</td>
            <td>46</td>
            <td class="bluebg">183</td>
            <td>13</td>
            <td>7</td>
            <td>14</td>
            <td>8</td>
            <td class="bluebg">42</td>
        </tr>
        <tr>
            <td class="bluebg">Latvia </td>
            <td>2</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td class="bluebg">6</td>
            <td>2</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td class="bluebg">9</td>
        </tr>
        <tr>
            <td class="bluebg">Lithuania </td>
            <td>0</td>
            <td>2</td>
            <td>6</td>
            <td>3</td>
            <td class="bluebg">11</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td class="bluebg">2</td>
        </tr>
        <tr>
            <td class="bluebg">Macau </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">0</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td class="bluebg">10</td>
        </tr>
        <tr>
            <td class="bluebg">Mainland China </td>
            <td>140</td>
            <td>126</td>
            <td>132</td>
            <td>108</td>
            <td class="bluebg">506</td>
            <td>167</td>
            <td>166</td>
            <td>130</td>
            <td>121</td>
            <td class="bluebg">584</td>
        </tr>
        <tr>
            <td class="bluebg">Malaysia </td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">5</td>
            <td>3</td>
            <td>2</td>
            <td>4</td>
            <td>0</td>
            <td class="bluebg">9</td>
        </tr>
        <tr>
            <td class="bluebg">Mexico </td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">4</td>
            <td>3</td>
            <td>2</td>
            <td>4</td>
            <td>2</td>
            <td class="bluebg">11</td>
        </tr>
        <tr>
            <td class="bluebg">New Zealand </td>
            <td>6</td>
            <td>9</td>
            <td>11</td>
            <td>9</td>
            <td class="bluebg">35</td>
            <td>8</td>
            <td>7</td>
            <td>5</td>
            <td>6</td>
            <td class="bluebg">26</td>
        </tr>
        <tr>
            <td class="bluebg">Norway </td>
            <td>12</td>
            <td>13</td>
            <td>16</td>
            <td>14</td>
            <td class="bluebg">55</td>
            <td>9</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td class="bluebg">39</td>
        </tr>
        <tr>
            <td class="bluebg">Poland </td>
            <td>3</td>
            <td>4</td>
            <td>3</td>
            <td>3</td>
            <td class="bluebg">13</td>
            <td>0</td>
            <td>2</td>
            <td>3</td>
            <td>5</td>
            <td class="bluebg">10</td>
        </tr>
        <tr>
            <td class="bluebg">Portugal</td>
            <td>4</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td class="bluebg">7</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>0</td>
            <td class="bluebg">13</td>
        </tr>
        <tr>
            <td class="bluebg">Romania</td>
            <td>4</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">7</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">0</td>
        </tr>
        <tr>
            <td class="bluebg">Russia </td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td class="bluebg">7</td>
            <td>2</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">3</td>
        </tr>
        <tr>
            <td class="bluebg">Singapore</td>
            <td>53</td>
            <td>36</td>
            <td>35</td>
            <td>42</td>
            <td class="bluebg">166</td>
            <td>47</td>
            <td>47</td>
            <td>38</td>
            <td>43</td>
            <td class="bluebg">175</td>
        </tr>
        <tr>
            <td class="bluebg">Slovenia</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>0</td>
            <td class="bluebg">5</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td class="bluebg">2</td>
        </tr>
        <tr>
            <td class="bluebg">South Korea </td>
            <td>77</td>
            <td>55</td>
            <td>53</td>
            <td>33</td>
            <td class="bluebg">218</td>
            <td>57</td>
            <td>41</td>
            <td>37</td>
            <td>41</td>
            <td class="bluebg">176</td>
        </tr>
        <tr>
            <td class="bluebg">Spain </td>
            <td>35</td>
            <td>22</td>
            <td>18</td>
            <td>18</td>
            <td class="bluebg">93</td>
            <td>25</td>
            <td>25</td>
            <td>28</td>
            <td>29</td>
            <td class="bluebg">107</td>
        </tr>
        <tr>
            <td class="bluebg">Sweden</td>
            <td>68</td>
            <td>92</td>
            <td>78</td>
            <td>57</td>
            <td class="bluebg">295</td>
            <td>68</td>
            <td>68</td>
            <td>74</td>
            <td>64</td>
            <td class="bluebg">274</td>
        </tr>
        <tr>
            <td class="bluebg">Switzerland </td>
            <td>7</td>
            <td>9</td>
            <td>12</td>
            <td>6</td>
            <td class="bluebg">34</td>
            <td>5</td>
            <td>5</td>
            <td>4</td>
            <td>17</td>
            <td class="bluebg">31</td>
        </tr>
        <tr>
            <td class="bluebg">Taiwan </td>
            <td>112</td>
            <td>95</td>
            <td>72</td>
            <td>70</td>
            <td class="bluebg">349</td>
            <td>40</td>
            <td>51</td>
            <td>58</td>
            <td>55</td>
            <td class="bluebg">204</td>
        </tr>
        <tr>
            <td class="bluebg">Thailand</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="bluebg">0</td>
        </tr>
        <tr>
            <td class="bluebg">The Netherlands</td>
            <td>87</td>
            <td>81</td>
            <td>68</td>
            <td>73</td>
            <td class="bluebg">309</td>
            <td>84</td>
            <td>95</td>
            <td>103</td>
            <td>120</td>
            <td class="bluebg">402</td>
        </tr>
        <tr>
            <td class="bluebg">Turkey </td>
            <td>6</td>
            <td>0</td>
            <td>0</td>
            <td>5</td>
            <td class="bluebg">11</td>
            <td>3</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td class="bluebg">24</td>
        </tr>
        <tr>
            <td class="bluebg">UK</td>
            <td>164</td>
            <td>149</td>
            <td>162</td>
            <td>158</td>
            <td class="bluebg">633</td>
            <td>103</td>
            <td>129</td>
            <td>140</td>
            <td>133</td>
            <td class="bluebg">505</td>
        </tr>
        <tr>
            <td class="bluebg">USA </td>
            <td>155</td>
            <td>132</td>
            <td>96</td>
            <td>87</td>
            <td class="bluebg">470</td>
            <td>86</td>
            <td>103</td>
            <td>126</td>
            <td>151</td>
            <td class="bluebg">466</td>
        </tr>
        <tr class="greenbg">
            <td>Total</td>
            <td>1,345</td>
            <td>1,250</td>
            <td>1,168</td>
            <td>1,079</td>
            <td>4,842</td>
            <td>1,094</td>
            <td>1,170</td>
            <td>1,208</td>
            <td>1,264</td>
            <td class="bluebg">4,736</td>
        </tr>
        <tr class="graybg">
            <td>No. of Representing Countries/Regions</td>
            <td>36</td>
            <td>36</td>
            <td>32</td>
            <td>30</td>
            <td>38</td>
            <td>34</td>
            <td>36</td>
            <td>36</td>
            <td>36</td>
            <td>40</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>
        Source of Information: SEP Annual Report (2015/16 - 2018/19)<br>
        Outbound Exchange Students refer to full-time degree-seeking students who enroll in credit-bearing courses at
        non-local partner institutions for one semester or during Summer Term for at least four weeks under the coverage
        of student exchange agreements.<br>
        Inbound Exchange Students refer to not-for-degree students who come from partner institutions outside Hong Kong
        and enroll in credit-bearing courses for one semester or during Summer Term for at least four weeks under the
        coverage of student exchange agreements.
    </p>
</div>