<h4 id="title">
    Overview of Student Exchange Programmes
</h4>
<table id="figures" class="table-hover">
    <thead>
        <tr>
            <td colspan="11" class="greenbg purpleclr">Distribution of Exchange Students (Based on the Number of
                Semester-long/Summer Exchange Units)</td>
        </tr>
        <tr>
            <th rowspan="2" class="text-right">Level of Study</th>
            <th colspan="5">Inbound</th>
            <th colspan="5">Outbound</th>
        </tr>
        <tr>
            <th>2015/16</th>
            <th>2016/17</th>
            <th>2017/18</th>
            <th>2018/19</th>
            <th>Overall</th>
            <th>2015/16</th>
            <th>2016/17</th>
            <th>2017/18</th>
            <th>2018/19</th>
            <th>Overall</th>
        </tr>
    </thead>
    <tbody>
        <tr class="yellowbg">
            <td class="boldtxt text-right">Undergraduate</td>
            <td>1055</td>
            <td>1134</td>
            <td>1185</td>
            <td>1230</td>
            <td class="purpleclr">4604</td>
            <td>1324</td>
            <td>1235</td>
            <td>1154</td>
            <td>1060</td>
            <td class="purpleclr">4773</td>
        </tr>
        <tr class="yellowbg">
            <td class="boldtxt text-right">Postgraduate</td>
            <td>39</td>
            <td>36</td>
            <td>23</td>
            <td>34</td>
            <td class="purpleclr">132</td>
            <td>21</td>
            <td>15</td>
            <td>14</td>
            <td>19</td>
            <td class="purpleclr">69</td>
        </tr>
        <tr class="bluebg">
            <td class="text-right">Total</td>
            <td>1094</td>
            <td>1170</td>
            <td>1208</td>
            <td>1264</td>
            <td class="purpleclr">4736</td>
            <td>1345</td>
            <td>1250</td>
            <td>1168</td>
            <td>1079</td>
            <td class="purpleclr">4842</td>
        </tr>
        <tr class="graybg">
            <td class="text-right">Country/Region of Representation</td>
            <td>34</td>
            <td>36</td>
            <td>36</td>
            <td>30</td>
            <td class="purpleclr">38</td>
            <td>36</td>
            <td>36</td>
            <td>32</td>
            <td>30</td>
            <td class="purpleclr">40</td>
        </tr>
        <tr>
            <td colspan="11" class="greenbg purpleclr">No. of Inbound & Outbound Exchange Students by Agreement
                Level (Based on the Number of
                Semester-long/Summer Exchange Units)</td>
        </tr>
        <tr>
            <th rowspan="2" class="text-right">Level of Agreement</th>
            <th colspan="5">Inbound</td>
            <th colspan="5">Outbound</td>
        </tr>
        <tr>
            <th>2015/16</td>
            <th>2016/17</td>
            <th>2017/18</td>
            <th>2018/19</td>
            <th>Overall</td>
            <th>2015/16</td>
            <th>2016/17</td>
            <th>2017/18</td>
            <th>2018/19</td>
            <th>Overall</td>
        </tr>
        <tr class="yellowbg">
            <td class="boldtxt text-right">Institutional Level</td>
            <td>336</td>
            <td>372</td>
            <td>421</td>
            <td>464</td>
            <td class="purpleclr">1593</td>
            <td>411</td>
            <td>428</td>
            <td>466</td>
            <td>454</td>
            <td class="purpleclr">1759</td>
        </tr>
        <tr class="yellowbg">
            <td class="boldtxt text-right">College/School/Departmental Level</td>
            <td>758</td>
            <td>798</td>
            <td>787</td>
            <td>800</td>
            <td class="purpleclr">3143</td>
            <td>934</td>
            <td>822</td>
            <td>702</td>
            <td>625</td>
            <td class="purpleclr">3083</td>
        </tr>
        <tr class="bluebg">
            <td class="text-right">Total</td>
            <td>1094</td>
            <td>1170</td>
            <td>1208</td>
            <td>1264</td>
            <td class="purpleclr">4736</td>
            <td>1345</td>
            <td>1250</td>
            <td>1168</td>
            <td>1079</td>
            <td class="purpleclr">4842</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>
        Source of Information: SEP Annual Report (2015/16 - 2018/19)<br>
        Outbound Exchange Students refer to full-time degree-seeking students who enroll in credit-bearing courses at
        non-local partner institutions for one semester or during Summer Term for at least four weeks under the coverage
        of student exchange agreements.<br>
        Inbound Exchange Students refer to not-for-degree students who come from partner institutions outside Hong Kong
        and enroll in credit-bearing courses for one semester or during Summer Term for at least four weeks under the
        coverage of student exchange agreements.
    </p>
</div>