<h4 id="title">
    Non-local New Intakes (Undergraduates) by Country/Region of Origin
</h4>
<table id="figures" class="table-hover table-responsive-sm">
    <thead>
        <tr>
            <th rowspan="2">Countries/Regions of Origins</th>
            <th colspan="6">Year of Studies</th>
        </tr>
        <tr>
            <th>2015/16</th>
            <th>2016/17</th>
            <th>2017/18</th>
            <th>2018/19</th>
            <th>2019/20</th>
            <th>Overall</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bluebg">Mainland China (Gaokao)</td>
            <td>206</td>
            <td>207</td>
            <td>209</td>
            <td>216</td>
            <td>215</td>
            <td class="bluebg">1053</td>
        </tr>
        <tr>
            <td class="bluebg">Korea, Republic of</td>
            <td>43</td>
            <td>50</td>
            <td>50</td>
            <td>79</td>
            <td>74</td>
            <td class="bluebg">296</td>
        </tr>
        <tr>
            <td class="bluebg">India</td>
            <td>14</td>
            <td>22</td>
            <td>23</td>
            <td>49</td>
            <td>28</td>
            <td class="bluebg">136</td>
        </tr>
        <tr>
            <td class="bluebg">Taiwan</td>
            <td>5</td>
            <td>17</td>
            <td>22</td>
            <td>49</td>
            <td>36</td>
            <td class="bluebg">129</td>
        </tr>
        <tr>
            <td class="bluebg">Indonesia</td>
            <td>15</td>
            <td>23</td>
            <td>11</td>
            <td>23</td>
            <td>31</td>
            <td class="bluebg">103</td>
        </tr>
        <tr>
            <td class="bluebg">Mainland China (Non-Gaokao)</td>
            <td>--</td>
            <td>9</td>
            <td>20</td>
            <td>13</td>
            <td>24</td>
            <td class="bluebg">66</td>
        </tr>
        <tr>
            <td class="bluebg">Malaysia</td>
            <td>7</td>
            <td>7</td>
            <td>22</td>
            <td>12</td>
            <td>11</td>
            <td class="bluebg">59</td>
        </tr>
        <tr>
            <td class="bluebg">Kazakhstan</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>1</td>
            <td>9</td>
            <td>24</td>
            <td class="bluebg">35</td>
        </tr>
        <tr>
            <td class="bluebg">Pakistan</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>5</td>
            <td>14</td>
            <td>10</td>
            <td class="bluebg">30</td>
        </tr>
        <tr>
            <td class="bluebg">Thailand</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>2</td>
            <td>15</td>
            <td>10</td>
            <td class="bluebg">29</td>
        </tr>
        <tr>
            <td class="bluebg">Kyrgyzstan</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>6</td>
            <td>19</td>
            <td class="bluebg">25</td>
        </tr>
        <tr>
            <td class="bluebg">South Africa</td>
            <td>1</td>
            <td>3</td>
            <td>2</td>
            <td>7</td>
            <td>7</td>
            <td class="bluebg">20</td>
        </tr>
        <tr>
            <td class="bluebg">China (Macao)</td>
            <td>&nbsp;</td>
            <td>3</td>
            <td>1</td>
            <td>10</td>
            <td>3</td>
            <td class="bluebg">17</td>
        </tr>
        <tr>
            <td class="bluebg">Serbia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>7</td>
            <td>7</td>
            <td class="bluebg">15</td>
        </tr>
        <tr>
            <td class="bluebg">Bangladesh</td>
            <td>&nbsp;</td>
            <td>3</td>
            <td>3</td>
            <td>1</td>
            <td>7</td>
            <td class="bluebg">14</td>
        </tr>
        <tr>
            <td class="bluebg">United States of America</td>
            <td>&nbsp;</td>
            <td>4</td>
            <td>3</td>
            <td>4</td>
            <td>2</td>
            <td class="bluebg">13</td>
        </tr>
        <tr>
            <td class="bluebg">Russia</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td class="bluebg">7</td>
        </tr>
        <tr>
            <td class="bluebg">Egypt</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td class="bluebg">6</td>
        </tr>
        <tr>
            <td class="bluebg">Philippines</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">6</td>
        </tr>
        <tr>
            <td class="bluebg">Canada</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td class="bluebg">5</td>
        </tr>
        <tr>
            <td class="bluebg">Singapore</td>
            <td>&nbsp;</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>1</td>
            <td class="bluebg">5</td>
        </tr>
        <tr>
            <td class="bluebg">Turkey</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">5</td>
        </tr>
        <tr>
            <td class="bluebg">France</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">4</td>
        </tr>
        <tr>
            <td class="bluebg">Japan</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">4</td>
        </tr>
        <tr>
            <td class="bluebg">Croatia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="bluebg">3</td>
        </tr>
        <tr>
            <td class="bluebg">Czech Republic</td>
            <td>1</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">3</td>
        </tr>
        <tr>
            <td class="bluebg">United Kingdom</td>
            <td>2</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">3</td>
        </tr>
        <tr>
            <td class="bluebg">Mauritius</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">2</td>
        </tr>
        <tr>
            <td class="bluebg">Mexico</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td class="bluebg">2</td>
        </tr>
        <tr>
            <td class="bluebg">Portugal</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td class="bluebg">2</td>
        </tr>
        <tr>
            <td class="bluebg">Vietnam</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td class="bluebg">2</td>
        </tr>
        <tr>
            <td class="bluebg">Australia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Cambodia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Colombia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Congo, Democratic Republic of</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Germany</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Ghana</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Greece</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Hungary</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Italy</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Jordan</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Luxembourg</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Morocco</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Myanmar</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Nepal</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Nigeria</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Norway</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Poland</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Seychelles</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Spain</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Sri Lanka</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Sweden</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Switzerland</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Syria</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="bluebg">1</td>
        </tr>
        <tr>
            <td class="bluebg">Venezuela</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td class="bluebg">1</td>
        </tr>
        <tr class="orangebg">
            <td>Total</td>
            <td>300</td>
            <td>369</td>
            <td>399</td>
            <td>530</td>
            <td>525</td>
            <td class="bluebg">2123</td>
        </tr>
        <tr class="graybg">
            <td>No. of Representing Countries/regions</td>
            <td>13</td>
            <td>27</td>
            <td>30</td>
            <td>29</td>
            <td>28</td>
            <td class="bluebg">53</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>* Source of information: Raw data pulled from AIMS after enrolment</p>
</div>