<h4 id="title">
    Currently Enrolled Degree-seeking Non-local Students by Country/Region of Origin & Level of Study (AY
    2019-20)
</h4>
<table id="figures" class="table-hover table-responsive-sm">
    <thead>
        <tr>
            <th class="text-left">Countries/Regions of Origins</th>
            <th>Ug</th>
            <th>Tpg</th>
            <th>Rpg</th>
            <th>PD</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bluebg text-left">China</td>
            <td>940</td>
            <td>3519</td>
            <td>1329</td>
            <td>55</td>
            <td class="greenbg">5843</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Korea, Republic of</td>
            <td>276</td>
            <td>4</td>
            <td>13</td>
            <td>1</td>
            <td class="greenbg">294</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Taiwan</td>
            <td>127</td>
            <td>6</td>
            <td>11</td>
            <td>1</td>
            <td class="greenbg">145</td>
        </tr>
        <tr>
            <td class="bluebg text-left">India</td>
            <td>120</td>
            <td>2</td>
            <td>20</td>
            <td>1</td>
            <td class="greenbg">143</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Indonesia</td>
            <td>85</td>
            <td>&nbsp;</td>
            <td>9</td>
            <td>&nbsp;</td>
            <td class="greenbg">94</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Pakistan</td>
            <td>30</td>
            <td>&nbsp;</td>
            <td>42</td>
            <td>&nbsp;</td>
            <td class="greenbg">72</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Malaysia</td>
            <td>50</td>
            <td>3</td>
            <td>8</td>
            <td>&nbsp;</td>
            <td class="greenbg">61</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Kazakhstan</td>
            <td>34</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">34</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Thailand</td>
            <td>27</td>
            <td>4</td>
            <td>2</td>
            <td>1</td>
            <td class="greenbg">34</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Bangladesh</td>
            <td>12</td>
            <td>&nbsp;</td>
            <td>21</td>
            <td>&nbsp;</td>
            <td class="greenbg">33</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Germany</td>
            <td>18</td>
            <td>1</td>
            <td>6</td>
            <td>&nbsp;</td>
            <td class="greenbg">25</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Nigeria</td>
            <td>1</td>
            <td>1</td>
            <td>28</td>
            <td>&nbsp;</td>
            <td class="greenbg">30</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Kyrgyzstan</td>
            <td>24</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">24</td>
        </tr>
        <tr>
            <td class="bluebg text-left">United States of America</td>
            <td>9</td>
            <td>4</td>
            <td>8</td>
            <td>1</td>
            <td class="greenbg">22</td>
        </tr>
        <tr>
            <td class="bluebg text-left">China (Macao)</td>
            <td>16</td>
            <td>3</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">20</td>
        </tr>
        <tr>
            <td class="bluebg text-left">South Africa</td>
            <td>16</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="greenbg">18</td>
        </tr>
        <tr>
            <td class="bluebg text-left">France</td>
            <td>4</td>
            <td>10</td>
            <td>2</td>
            <td>1</td>
            <td class="greenbg">17</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Serbia</td>
            <td>15</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">16</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Vietnam</td>
            <td>2</td>
            <td>1</td>
            <td>13</td>
            <td>&nbsp;</td>
            <td class="greenbg">16</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Ghana</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>11</td>
            <td>&nbsp;</td>
            <td class="greenbg">12</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Egypt</td>
            <td>5</td>
            <td>&nbsp;</td>
            <td>6</td>
            <td>&nbsp;</td>
            <td class="greenbg">11</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Russia</td>
            <td>4</td>
            <td>2</td>
            <td>4</td>
            <td>&nbsp;</td>
            <td class="greenbg">10</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Canada</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>5</td>
            <td>1</td>
            <td class="greenbg">9</td>
        </tr>
        <tr>
            <td class="bluebg text-left">United Kingdom</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>8</td>
            <td>&nbsp;</td>
            <td class="greenbg">9</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Italy</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>6</td>
            <td>&nbsp;</td>
            <td class="greenbg">7</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Mexico</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>6</td>
            <td>&nbsp;</td>
            <td class="greenbg">8</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Iran</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>6</td>
            <td>&nbsp;</td>
            <td class="greenbg">6</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Myanmar</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>5</td>
            <td>&nbsp;</td>
            <td class="greenbg">6</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Philippines</td>
            <td>4</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="greenbg">6</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Singapore</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td class="greenbg">6</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Switzerland</td>
            <td>1</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Ethiopia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>5</td>
            <td>&nbsp;</td>
            <td class="greenbg">5</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Turkey</td>
            <td>5</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">5</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Austria</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Poland</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="greenbg">4</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Sri Lanka</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td class="greenbg">4</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Australia</td>
            <td>1</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">3</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Cambodia</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">3</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Croatia</td>
            <td>3</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">3</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Japan</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">3</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Netherlands</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="greenbg">3</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Norway</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">3</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Sweden</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="greenbg">3</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Czech Republic</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Ireland</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Jordan</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Kenya</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Morocco</td>
            <td>1</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Nepal</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Portugal</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Slovakia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Uganda</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2</td>
            <td>&nbsp;</td>
            <td class="greenbg">2</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Armenia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Belgium</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Benin</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Brazil</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Chile</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Colombia</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Congo, Democratic Republic of</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Ecuador</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Iceland</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Malta</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Mauritius</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">New Zealand</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Palestine, State of</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Rwanda</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Seychelles</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Spain</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Syria</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Venezuela</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr>
            <td class="bluebg text-left">Zambia</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>&nbsp;</td>
            <td class="greenbg">1</td>
        </tr>
        <tr class="orangebg">
            <td class="text-left">Total</td>
            <td>1861</td>
            <td>3572</td>
            <td>1615</td>
            <td>63</td>
            <td>7111</td>
        </tr>
        <tr class="graybg">
            <td class="text-left">No. of Representing Countries/Regions</td>
            <td>50</td>
            <td>54</td>
            <td>53</td>
            <td>9</td>
            <td>71</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
<p>
        *Source of information: Raw data pulled from AIMS as of 25 October 2019<br>
        **Regardless of student status & study mode<br>
        <br>
        Abbreviations:<br>
        Ug – Undergraduate<br>
        TPg – Taught Postgraduate<br>
        RPg – Research Postgraduate<br>
        Pd – Professional Doctorate<br>
</p>
</div>