<h4 id="title">
    Overview of Currently Enrolled Non-local Students in AY 2019-20
</h4>
<table id="figures" class="table-hover table-responsive-sm">
    <thead>
        <tr>
            <th rowspan="2">Students/Level</th>
            <th colspan="5">Degree Seeking Students</th>
            <th colspan="3">Non-Degree Seeking Students</th>
            <th rowspan="2">Overall</th>
        </tr>
        <tr>
            <th>Ug</th>
            <th>Tpg</th>
            <th>Rpg</th>
            <th>Pd</th>
            <th>Sub-total</th>
            <th>Visiting</th>
            <th>Exchange</th>
            <th>Sub-total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="yellowbg">
            <td class="boldtxt">International</td>
            <td>921</td>
            <td>53</td>
            <td>286</td>
            <td>8</td>
            <td class="greenbg">1268</td>
            <td>67</td>
            <td>65</td>
            <td class="greenbg">132</td>
            <td class="purpleclr">1400</td>
        </tr>
        <tr class="yellowbg">
            <td class="boldtxt">Mainland China </td>
            <td>940</td>
            <td>3519</td>
            <td>1329</td>
            <td>55</td>
            <td class="greenbg">5843</td>
            <td>13</td>
            <td>573</td>
            <td class="greenbg">586</td>
            <td class="purpleclr">6429</td>
        </tr>
        <tr class="bluebg">
            <td>Total No. of Non-local Students </td>
            <td>1861</td>
            <td>3572</td>
            <td>1615</td>
            <td>63</td>
            <td class="greenbg">7111</td>
            <td>80</td>
            <td>638</td>
            <td class="greenbg">718</td>
            <td class="purpleclr">7829</td>
        </tr>
        <tr class="graybg">
            <td>No. of Representing Countries/Regions</td>
            <td>50</td>
            <td>54</td>
            <td>53</td>
            <td>9</td>
            <td class="greenbg">166</td>
            <td>6</td>
            <td>46</td>
            <td class="greenbg">52</td>
            <td class="purpleclr">218</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>
        *Source of information: Raw data pulled from AIMS as of 25 October 2019<br>
        **Regardless of student status & study mode<br>
        <br>
        <b><u>Abbreviations:</u></b><br>
        Ug – Undergraduate<br>
        TPg – Taught Postgraduate<br>
        RPg – Research Postgraduate<br>
        Pd – Professional Doctorate<br>
        Visiting – Visiting Student<br>
        Exchange – Exchange Student
    </p>
</div>