<h4 id="title">
    Non-local New Intakes (Undergraduates) by College & School
</h4>
<table id="figures" class="table-hover table-responsive-sm">
    <thead>
        <tr>
            <th rowspan="2">Colleges/Schools</th>
            <th colspan="6">Year of Studies</th>
        </tr>
        <tr>
            <th>2015/16</th>
            <th>2016/17</th>
            <th>2017/18</th>
            <th>2018/19</th>
            <th>2019/20</th>
            <th>Overall</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bluebg">College of Business (CB)</td>
            <td>115</td>
            <td>122</td>
            <td>140</td>
            <td>184</td>
            <td>139</td>
            <td class="bluebg">700</td>
        </tr>
        <tr>
            <td class="bluebg">College of Engineering (CENG)</td>
            <td>76</td>
            <td>114</td>
            <td>120</td>
            <td>183</td>
            <td>196</td>
            <td class="bluebg">689</td>
        </tr>
        <tr>
            <td class="bluebg">College of Liberal Arts and Social Sciences (CLASS)</td>
            <td>53</td>
            <td>67</td>
            <td>59</td>
            <td>61</td>
            <td>70</td>
            <td class="bluebg">310</td>
        </tr>
        <tr>
            <td class="bluebg">College of Science (CSCI)</td>
            <td>24</td>
            <td>25</td>
            <td>29</td>
            <td>35</td>
            <td>35</td>
            <td class="bluebg">148</td>
        </tr>
        <tr>
            <td class="bluebg">Jockey Club College of Veterinary Medicine and Life Sciences (CVMLS)</td>
            <td>0</td>
            <td>4</td>
            <td>13</td>
            <td>24</td>
            <td>12</td>
            <td class="bluebg">53</td>
        </tr>
        <tr>
            <td class="bluebg">School of Creative Media (SCM)</td>
            <td>20</td>
            <td>24</td>
            <td>19</td>
            <td>21</td>
            <td>19</td>
            <td class="bluebg">103</td>
        </tr>
        <tr>
            <td class="bluebg">School of Data Science (SDSC)</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>28</td>
            <td class="bluebg">28</td>
        </tr>
        <tr>
            <td class="bluebg">School of Energy and Environment (SEE)</td>
            <td>6</td>
            <td>9</td>
            <td>13</td>
            <td>11</td>
            <td>16</td>
            <td class="bluebg">55</td>
        </tr>
        <tr>
            <td class="bluebg">School of Law (SLW)</td>
            <td>6</td>
            <td>4</td>
            <td>6</td>
            <td>11</td>
            <td>10</td>
            <td class="bluebg">37</td>
        </tr>
        <tr class="orangebg">
            <td>Total</td>
            <td>300</td>
            <td>369</td>
            <td>399</td>
            <td>530</td>
            <td>525</td>
            <td>2123</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>* Source of information: Raw data pulled from AIMS after enrolment<br>
        Restructured from CSE to CENG and CSCI in 1 January 2019</p>
</div>