<h4 id="title">
    Overview of Non-local New Intakes (Undergraduates)
</h4>
<table id="figures" class="table-hover table-responsive-sm">
    <thead>
        <tr>
            <th class="text-right">Type of students</th>
            <th>2015-16</th>
            <th>2016-17</th>
            <th>2017-18</th>
            <th>2018-19</th>
            <th>2019-20</th>
            <th>Overall</th>
        </tr>
    </thead>
    <tbody>
        <tr class="yellowbg">
            <td class="text-right">International</td>
            <td>94</td>
            <td>153</td>
            <td>170</td>
            <td>301</td>
            <td>286</td>
            <td class="purpleclr">1004</td>
        </tr>
        <tr class="yellowbg">
            <td class="text-right">Mainland China (Non Gaokao)</td>
            <td>--</td>
            <td>9</td>
            <td>20</td>
            <td>13</td>
            <td>24</td>
            <td class="purpleclr">66</td>
        </tr>
        <tr class="yellowbg">
            <td class="text-right">Mainland China (Gaokao)</td>
            <td>206</td>
            <td>207</td>
            <td>209</td>
            <td>216</td>
            <td>215</td>
            <td class="purpleclr">1053</td>
        </tr>
        <tr class="bluebg">
            <td class="text-right">Total No. of New Intakes</td>
            <td>300</td>
            <td>369</td>
            <td>399</td>
            <td>530</td>
            <td>525</td>
            <td class="purpleclr">2123</td>
        </tr>
        <tr class="graybg">
            <td class="text-right">No. of Representing Countries/Regions</td>
            <td>13</td>
            <td>27</td>
            <td>30</td>
            <td>29</td>
            <td>28</td>
            <td class="purpleclr">53</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>* Source of information: Raw data pulled from AIMS after enrolment<br>
        # There is some discrepancy between the AIMS data and Admission report to the Senate due date due to
        different census dates</p>
</div>