<h4 id="title">
    Overview of Non-local Admissions (Undergraduates)
</h4>
<table id="figures" class="table-hover table-responsive-sm">
    <thead>
        <tr>
            <th></th>
            <th>2015-16</th>
            <th>2016-17</th>
            <th>2017-18</th>
            <th>2018-19</th>
            <th>2019-20</th>
            <th>Overall</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="7" class="text-left purpleclr greenbg">Non-local Applicants via Direct Admission Route ^</td>
        </tr>
        <tr class="yellowbg">
            <td class="text-right">International</td>
            <td>755</td>
            <td>827</td>
            <td>1081</td>
            <td>1496</td>
            <td>1865</td>
            <td class="purpleclr">6024</td>
        </tr>
        <tr class='yellowbg'>
            <td class="text-right">Mainland China (Non Gaokao)</td>
            <td>--</td>
            <td>336</td>
            <td>479</td>
            <td>729</td>
            <td>1163</td>
            <td class="purpleclr">2707</td>
        </tr>
        <tr class="bluebg">
            <td class="text-right">Total No. of Applicants</td>
            <td>755</td>
            <td>1163</td>
            <td>1560</td>
            <td>2225</td>
            <td>3028</td>
            <td class="purpleclr">8731</td>
        </tr>
        <tr class="graybg">
            <td class="text-right">No. of Representing Countries/Regions</td>
            <td>51</td>
            <td>53</td>
            <td>70</td>
            <td>61</td>
            <td>77</td>
            <td class="purpleclr">116</td>
        </tr>
        <tr>
            <td colspan="7" class="text-left purpleclr greenbg">Final Enrolment (After Enrolment Due Date) *</td>
        </tr>
        <tr class="yellowbg">
            <td class="text-right">International</td>
            <td>94</td>
            <td>153</td>
            <td>170</td>
            <td>301</td>
            <td>286</td>
            <td class="purpleclr">1004</td>
        </tr>
        <tr class='yellowbg'>
            <td class="text-right">Mainland China (Non Gaokao)</td>
            <td>--</td>
            <td>9</td>
            <td>20</td>
            <td>13</td>
            <td>24</td>
            <td class="purpleclr">66</td>
        </tr>
        <tr class='yellowbg'>
            <td class="text-right">Mainland China (Gaokao)</td>
            <td>206</td>
            <td>207</td>
            <td>209</td>
            <td>216</td>
            <td>215</td>
            <td class="purpleclr">1053</td>
        </tr>
        <tr class="bluebg">
            <td class="text-right">Total No. of Final Enrolment</td>
            <td>300</td>
            <td>369</td>
            <td>399</td>
            <td>530</td>
            <td>525</td>
            <td class="purpleclr">2123</td>
        </tr>
        <tr class="graybg">
            <td class="text-right">No. of Representing Countries/Regions</td>
            <td>13</td>
            <td>27</td>
            <td>30</td>
            <td>29</td>
            <td>28</td>
            <td class="purpleclr">53</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>
        ^ Source of information: Raw data pulled from AIMS as of late-Aug<br>
        * Source of information: Raw data pulled from AIMS after enrolment
    </p>
</div>