<h4 id="title">
    Joint Bachelor's Degree Programmes' Statistics
</h4>
<table id="figures" class="table-hover table-responsive-sm">
    <thead>
        <tr>
            <th rowspan="2">Programmes</th>
            <th colspan="6">Academic Year (Start Date for selected students)</th>
        </tr>
        <tr>
            <th>2015/16</th>
            <th>2016-17</th>
            <th>2017-18</th>
            <th>2018-19</th>
            <th>2019/20</th>
            <th>Overall</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="boldtxt">Columbia University #</td>
            <td>11</td>
            <td>13</td>
            <td>12</td>
            <td>13</td>
            <td>16</td>
            <td>65</td>
        </tr>
        <tr>
            <td class="boldtxt">Leuphana University</td>
            <td>12</td>
            <td>4</td>
            <td>8</td>
            <td>1</td>
            <td>3*</td>
            <td>28</td>
        </tr>
        <tr>
            <td class="boldtxt">National Taiwan University </td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>5</td>
        </tr>
        <tr class="bluebg">
            <td>Total</td>
            <td>24</td>
            <td>18</td>
            <td>20</td>
            <td>15</td>
            <td>21</td>
            <td>98</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>
        Source of Information: Data retrieved from respective programme organisers on 10 July 2019<br>
        # CS students defer their entrance to Columbia to the following academic year due to internship requirement<br>
        * Figures are tentative<br>
    </p>
</div>