<h4 id="title">
    Statistics on Non-local Student Visa Applications (Via Global Engagement Office)
</h4>
<table id="figures" class="table-hover table-responsive-sm">
    <thead>
        <tr>
            <th>Admission Year</th>
            <th>No. of New Visa Application Processed</th>
            <th>No. of Visa Renewal / NOL Renewal Processed</th>
            <th>Total No. of Visa Applications Processed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2015/16</td>
            <td>4015</td>
            <td>1718</td>
            <td>5733</td>
        </tr>
        <tr>
            <td>2016/17</td>
            <td>4002</td>
            <td>1660</td>
            <td>5662</td>
        </tr>
        <tr>
            <td>2017/18</td>
            <td>4417</td>
            <td>1058</td>
            <td>5475</td>
        </tr>
        <tr>
            <td>2018/19</td>
            <td>5447</td>
            <td>1144</td>
            <td>6591</td>
        </tr>
        <tr>
            <td>2019/20 *</td>
            <td>4581</td>
            <td>902</td>
            <td>5483</td>
        </tr>
        <tr class="bluebg"> 
            <td>Total</td>
            <td>22462</td>
            <td>6482</td>
            <td>28944</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>
        Source of Information: GEO<br>
        * Tentative figures as of July, 2019 for Semester A entry only. The total number of visa cases processed for<br>
        2019/20 admissions will increase when visa applications from 2019 NUEE mainland entrants arrive; besides,
        there<br>
        will be a new lot of visa applications from exchange students for Semester B admission.<br>
    </p>
</div>