<h4 id="title">
    Student Integration and Campus Internationlization Programmes
</h4>
<table id="figures" class="table-hover table-responsive-sm">
    <thead>
        <tr>
            <th colspan="2">Programmes</th>
            <th>No. of Projects/Events/Activities Organized</th>
            <th>No. of Student Participants (Local)*</th>
            <th>No. of Student Participants (Non-Local)*</th>
            <th>No. of Student Participants (Total)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="6" class="graybg no-bold">2015/16</td>
            <td class="graybg no-bold">IFC</td>
            <td class="yellowbg">13</td>
            <td class="greenbg no-bold">255</td>
            <td class="greenbg no-bold">1561</td>
            <td class="orangebg no-bold">1816</td>
        </tr>
        <tr>
            <td class="graybg no-bold">G-Mixer</td>
            <td class="yellowbg">7</td>
            <td class="greenbg no-bold">194</td>
            <td class="greenbg no-bold">131</td>
            <td class="orangebg no-bold">325</td>
        </tr>
        <tr>
            <td class="graybg no-bold">SIP</td>
            <td class="yellowbg">20</td>
            <td class="greenbg no-bold">1897</td>
            <td class="greenbg no-bold">2921</td>
            <td class="orangebg no-bold">4818</td>
        </tr>
        <tr>
            <td class="graybg no-bold">OPSA</td>
            <td class="yellowbg">--</td>
            <td class="greenbg no-bold">--</td>
            <td class="greenbg no-bold">--</td>
            <td class="orangebg no-bold">--</td>
        </tr>
        <tr>
            <td class="graybg no-bold">OP</td>
            <td class="yellowbg">--</td>
            <td class="greenbg no-bold">--</td>
            <td class="greenbg no-bold">1074</td>
            <td class="orangebg no-bold">1074</td>
        </tr>
        <tr class="bluebg">
            <td>Sub-total</td>
            <td>40</td>
            <td>2346</td>
            <td>5687</td>
            <td>8033</td>
        </tr>
        <tr>
            <td rowspan="6" class="graybg no-bold">2016/17</td>
            <td class="graybg no-bold">IFC</td>
            <td class="yellowbg">10</td>
            <td class="greenbg no-bold">156</td>
            <td class="greenbg no-bold">1343</td>
            <td class="orangebg no-bold">1499</td>
        </tr>
        <tr>
            <td class="graybg no-bold">G-Mixer</td>
            <td class="yellowbg">11</td>
            <td class="greenbg no-bold">318</td>
            <td class="greenbg no-bold">273</td>
            <td class="orangebg no-bold">591</td>
        </tr>
        <tr>
            <td class="graybg no-bold">SIP</td>
            <td class="yellowbg">23</td>
            <td class="greenbg no-bold">3501</td>
            <td class="greenbg no-bold">3329</td>
            <td class="orangebg no-bold">6830</td>
        </tr>
        <tr>
            <td class="graybg no-bold">OPSA</td>
            <td class="yellowbg">2</td>
            <td class="greenbg no-bold">2</td>
            <td class="greenbg no-bold">28</td>
            <td class="orangebg no-bold">30</td>
        </tr>
        <tr>
            <td class="graybg no-bold">OP</td>
            <td class="yellowbg">--</td>
            <td class="greenbg no-bold">--</td>
            <td class="greenbg no-bold">1135</td>
            <td class="orangebg no-bold">1135</td>
        </tr>
        <tr class="bluebg">
            <td>Sub-total</td>
            <td>46</td>
            <td>3977</td>
            <td>6108</td>
            <td>10085</td>
        </tr>
        <tr>
            <td rowspan="6" class="graybg no-bold">2017/18</td>
            <td class="graybg no-bold">IFC</td>
            <td class="yellowbg">9</td>
            <td class="greenbg no-bold">156</td>
            <td class="greenbg no-bold">1377</td>
            <td class="orangebg no-bold">1533</td>
        </tr>
        <tr>
            <td class="graybg no-bold">G-Mixer</td>
            <td class="yellowbg">8</td>
            <td class="greenbg no-bold">524</td>
            <td class="greenbg no-bold">579</td>
            <td class="orangebg no-bold">1103</td>
        </tr>
        <tr>
            <td class="graybg no-bold">SIP</td>
            <td class="yellowbg">24</td>
            <td class="greenbg no-bold">2669</td>
            <td class="greenbg no-bold">2550</td>
            <td class="orangebg no-bold">5219</td>
        </tr>
        <tr>
            <td class="graybg no-bold">OPSA</td>
            <td class="yellowbg">9</td>
            <td class="greenbg no-bold">3</td>
            <td class="greenbg no-bold">171</td>
            <td class="orangebg no-bold">174</td>
        </tr>
        <tr>
            <td class="graybg no-bold">OP</td>
            <td class="yellowbg">--</td>
            <td class="greenbg no-bold">--</td>
            <td class="greenbg no-bold">1232</td>
            <td class="orangebg no-bold">1232</td>
        </tr>
        <tr class="bluebg">
            <td>Sub-total</td>
            <td>50</td>
            <td>3352</td>
            <td>5909</td>
            <td>9261</td>
        </tr>
        <tr>
            <td rowspan="6" class="graybg no-bold">2018/19</td>
            <td class="graybg no-bold">IFC</td>
            <td class="yellowbg">13</td>
            <td class="greenbg no-bold">691</td>
            <td class="greenbg no-bold">1959</td>
            <td class="orangebg no-bold">2650</td>
        </tr>
        <tr>
            <td class="graybg no-bold">G-Mixer</td>
            <td class="yellowbg">10</td>
            <td class="greenbg no-bold">580</td>
            <td class="greenbg no-bold">958</td>
            <td class="orangebg no-bold">1538</td>
        </tr>
        <tr>
            <td class="graybg no-bold">SIP</td>
            <td class="yellowbg">21</td>
            <td class="greenbg no-bold">1375</td>
            <td class="greenbg no-bold">3548</td>
            <td class="orangebg no-bold">4923</td>
        </tr>
        <tr>
            <td class="graybg no-bold">OPSA</td>
            <td class="yellowbg">37</td>
            <td class="greenbg no-bold">3</td>
            <td class="greenbg no-bold">649</td>
            <td class="orangebg no-bold">652</td>
        </tr>
        <tr>
            <td class="graybg no-bold">OP</td>
            <td class="yellowbg">--</td>
            <td class="greenbg no-bold">--</td>
            <td class="greenbg no-bold">1319</td>
            <td class="orangebg no-bold">1319</td>
        </tr>
        <tr class="bluebg">
            <td>Sub-total</td>
            <td>81</td>
            <td>2649</td>
            <td>8433</td>
            <td>11082</td>
        </tr>
        <tr class="bluebg">
            <th colspan="2">Total</td>
            <th>217</td>
            <th>12324</td>
            <th>26137</td>
            <th>38461</td>
        </tr>
    </tbody>
</table>
<div id="captions" class="text-muted">
    <p>
        *Including student organizers and student participants<br>
        <br>
        Updated as of 2 Oct 2019<br>
        <br>
        <br>
        Abbreviations:<br>
        IFC – International Friends Club<br>
        G-Mixer – Global Mixer<br>
        SIP – Student-initiated Project<br>
        OPSA – Off-campus Peer Support Ambassadors<br>
        OP – University's Orientation Programme for newly-arrived non-local students
    </p>
</div>