<div class="col-lg-5 col-sm-12" id="footer_note">
    <p class='text-muted'>
        This web portal is to present the Real-Time seat occupancy status of the public places at the University like
        Library, Cafeteria, Labs etc. This project aims to solve the problem of unfair seat hoarding during the peak
        times. Check it out on <a href="https://github.com/Ebbi53/smart_seat_management_system">GitHub</a>.<br>
    </p>
</div>
<div class="col-lg-4 col-12 ml-auto" style="margin-top: auto; margin-bottom: auto; padding: 0;">
    <div class="row" id="footer_links">
        <div class="col-xl-3 col-md-3 col-6">
            <a href="https://www.cityu.edu.hk/web/privacy">Privacy Policy</a>
        </div>
        <div class="col-xl-2 col-md-3 col-6">
            <a href="https://www.cityu.edu.hk/web/copyright#copyright">Copyright<sup><i class="far fa-copyright"
                        style="font-size: 7px;"></i></sup></a>
        </div>
        <div class="col-xl-2 col-md-3 col-6">
            <a href="https://www.cityu.edu.hk/web/disclaimer#disclaimer">Disclaimer</a>
        </div>
        <div class="col-xl-2 col-md-3 col-6">
            <a href="https://www.cityu.edu.hk/web/accessibility">Accessibility</a>
        </div>
    </div>
</div>
<!-- <div class="col-12" style="text-align: center; padding: 10px;">
    © 2020 All rights reserved
</div> -->