<div class="col-12 table-responsive">
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th>
                    #
                </th>
                <th>Zone</th>
                <th>Time left</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>A</td>
                <td>4m 25s</td>
            </tr>
            <tr>
                <td>2</td>
                <td>C</td>
                <td>3m 5s</td>
            </tr>
            <tr>
                <td>3</td>
                <td>D</td>
                <td>0m 55s</td>
            </tr>
        </tbody>
    </table>
</div>