<div class="w-100" id="reload-icon">
    <i class="fas fa-sync-alt"></i>
</div>
<div class="col-12 table-responsive ml-3">
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th>
                    #
                </th>
                <th>Zone</th>
                <th>Time left</th>
                <th>Get directions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let record of data) { %>
            <tr>
                <td><%- record['seat_id'] %></td>
                <td><%- record['zone_id'] %></td>
                <td id="counter<%-record['zone_id']%><%-record['seat_id']%>"></td>
                <% $(document).ready(function () {
                $(`#counter${record['zone_id']+record['seat_id']}`).countdowntimer({ minutes: Math.floor((record['reservation_end_time'] - Date.now()) / 60000), seconds: (((record['reservation_end_time'] - Date.now()) % 60000) / 1000).toFixed(0), size: "lg", expiryUrl: window.location.href }); 
                }) %>
                <td>
                    <a href="" data-toggle="modal"
                        data-target="#directions<%- record['zone_id'] %><%- record['seat_id'] %>" role="button">
                        Click here
                    </a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<% for (let record of data) { %>
<div class="modal fade" id="directions<%- record['zone_id'] %><%- record['seat_id'] %>" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Directions to Zone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol>
                    <% for (let direction of record['directions']) { %>
                    <li>
                        <%- direction %>
                    </li>
                    <% } %>
                </ol>
            </div>
        </div>
    </div>
</div>
<% } %>